doctype html
html
  head
    meta(http-equiv='Content-Security-Policy', content="default-src " + generic.defaultSrc + "; style-src " + generic.styleSrc + "; media-src "  + generic.mediaSrc)
    meta(name='format-detection', content='telephone=no')
    meta(name='msapplication-tap-highlight', content='no')
    meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
    meta(charset='UTF-8')
    // bower:css 
    // endbower 
    link(rel='stylesheet', href='css/madweek.min.css')
    link(rel='stylesheet', href='css/overrides.css')
    script(src="cordova.js",type="text/javascript")
    // bower:js 
    // endbower
    script(src='js/config.js')
    script(src='js/pug-templates.js')
    // script(src='https://cdn.metatavu.io/libs/tools/debug/0.0.4/debug.js')
    script(src='js/madweek-wordpress.js')
    script(src='js/madweek-events.js')
    script(src='js/madweek-image.js')
    script(src='js/madweek-map.js')
    script(src='js/madweek.js')
    title Mikkeli Art & Design Week 2017
  body
    nav.navbar.fixed-top.navbar-toggleable-md.navbar-inverse.bg-inverse
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarToggle', aria-controls='navbarToggle', aria-expanded='false', aria-label='Toggle navigation')
        i.fa.fa-ellipsis-v
      a.navbar-brand(href='#')
        img.top-logo(src='gfx/mad-logo.png')
      #navbarToggle.collapse.navbar-collapse
        ul.navbar-nav.mr-auto.mt-2.mt-md-0
          li.nav-item.active(data-page='index')
            a.nav-link(href='#') Etusivu 
          li.nav-item(data-page='event-list')
            a.nav-link(href='#') Tapahtumat
          li.nav-item(data-page='image')
            a.nav-link(href='#') Ota kuva 
          li.nav-item(data-page='info')
            a.nav-link(href='#') Info 
          li.nav-item(data-page='map')
            a.nav-link(href='#') Kartta
    .content
    #map